.profile__edit-button {
  background-color: #000;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
}