.profile__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .profile__paragraph {
    font-size: 14px;
    line-height: 17px;
    width: 280px;
    height: 14px;
    text-align: center;
  }
}