.element__group {
  width: 246px;
  height: 30px;
  margin: 0 auto 25px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* Please help with ellipsis is not working, tried change to display block - no luck */
}