.profile__text {
  max-width: 380px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #fff;
  margin: 0;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width:900px) {
  .profile__text {
    font-size: 22px;
  }
}


@media screen and (max-width: 750px) {
  .profile__text {
    font-size: 22px;
    margin-right: 12px;
    max-width: 201px;
  }
}