.elements {
  width: 882px;
  margin: 0 auto 66px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 18px;
}

@media screen and (max-width: 900px) {
  .elements {
    width: 282px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 48px;
  }
}