.elements {
  width: 882px;
  height: 744px;
  margin: 0 auto 66px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 18px;
}

.element {
  width: 282px;
  height: 362px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.element__group {
  width: 246px;
  height: 30px;
  margin: 0 auto 25px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__text {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.element__like-button {
  width: 20.75px;
  height: 18.13px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.element__like-icon {
  width: 20.75px;
  height: 18.13px;
}