.form__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 330px;
  margin: 34px auto 54px;
}

@media screen and (max-width: 900px) {
  .form__title {
    width: calc(100% - 36px);
  }
}