.form__title {
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 330px;
  margin: 34px 64px 54px 36px;
}

@media screen and (max-width: 500px) {
  .form__title {
    width: calc(100% - 100px);
  }
}