.form__input {
  width: 358px;
  height: 14px;
  padding-bottom: 13.26px;
  display: block;
  margin: 0 auto 29.74px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__input:last-child {
  margin-bottom: 48px;
}