.form__input {
  width: 358px;
  height: 14px;
  padding: 0;
  padding-bottom: 13.26px;
  display: block;
  margin: 0 36px 29.74px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__input:last-child {
  margin-bottom: 48px;
}

@media screen and (max-width: 900px) {
  .form__input {
    width: calc(100% - 72px);
  }
}