@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/card/card.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/modal/modal.css);
@import url(../blocks/modal/_is-open/modal_is-open.css);
@import url(../blocks/form/form.css);

.form__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.form__error_visible {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  width: 358px;
  padding: 0;
  display: block;
  margin: 0 36px 31.34px;
  border: none;
}

.form__button_disabled {
  background-color: #E5E5E5;
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  opacity: 0.2;
}

.form__button_disabled:hover {
  background-color: #E5E5E5;
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  opacity: 0.2;
  cursor: not-allowed;
}