.profile__info {
  max-width: 428px;
  margin: 0 154px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .profile__info {
    max-width: 280px;
    height: 66px;
    margin-right: 0;
    justify-content: center;
    margin-bottom: 36px;
  }
}