.profile__info {
  width: 428px;
  margin: 0 154px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}