@import url(./__image/element__image.css);
@import url(./__group/element__group.css);
@import url(./__text/element__text.css);
@import url(./__like-button/element__like-button.css);
@import url(./__like-icon/element__like-icon.css);

.element {
  width: 282px;
  height: 362px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}